<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGLearning.MultipleAttr"/>
      <class name="testNGLearning.Rediff"/>
      <class name="testNGLearning.ThruTextFile"/>
      <class name="testNGLearning.Vindeep"/>
      <class name="testNGLearning.ReadDataFrmWebTable"/>
      <class name="testNGLearning.CompareWebTable"/>
      <class name="testNGLearning.LaunchGoogleDiffBrowsers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
